export GH_CONFIG_DIR="$HOME/.config/gh-0xshobha"
export GIT_AUTHOR_NAME="0xshobha"
export GIT_AUTHOR_EMAIL="shobhavash09@gmail.com"
export GIT_COMMITTER_NAME="0xshobha"
export GIT_COMMITTER_EMAIL="shobhavash09@gmail.com"
