HEDERA_PAYER_ACCOUNT_ID=
HEDERA_PAYER_PRIVATE_KEY=
HEDERA_MERCHANT_ACCOUNT_ID=
AUDITLAB_URL=http://127.0.0.1:3000
MAX_PAYMENT_TINYBARS=150000
DEMO_CONTROL_SECRET=
DEMO_ALLOWED_ORIGINS=https://scope402.onrender.com,http://127.0.0.1:4173
DEMO_TRUSTED_PROXY=none
DEMO_RUN_TTL_SECONDS=240
DEMO_MAX_RUNS_PER_IP_HOUR=3
DEMO_MAX_GLOBAL_RUNS_HOUR=50
DEMO_MAX_GLOBAL_APPROVALS_HOUR=20
DEMO_MAX_HOURLY_SPEND_TINYBARS=3000000
DEMO_MIN_BALANCE_TINYBARS=1000000
